<div align="center">

<h2> Bienvenido {{first_name}}</h2>

</div>

<div>
    <ul>
        <li>Nombre: {{first_name}}</li>
        <li>Apellido: {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Edad: {{age}}</li>
        <li>Role: {{role}}</li>
    </ul>
</div>

<div>
    [<a href="/products">Products</a> | <a href="/api/sessions/logout"> logout </a>]
    
</div>