<br>
<br>
<br>

<div class="container mt-5 text-center">
    <h2>Bienvenido {{userDto.first_name}}</h2>
</div>

<div class="container mt-3">
    <ul class="list-group">
       <li class="list-group-item">Nombre: {{userDto.first_name}}</li>
        <li class="list-group-item">Apellido: {{userDto.last_name}}</li>
        <li class="list-group-item">Email: {{userDto.email}}</li>
        <li class="list-group-item">Edad: {{userDto.age}}</li>
        <li class="list-group-item">Role: {{userDto.role}}</li>
    </ul>
</div>

<div class="container mt-3">
    <p>
        <a href="/products" class="btn btn-primary">Products</a> | <a href="/api/sessions/logout" class="btn btn-danger">Logout</a>
    </p>
</div>
<style>
        body {
            background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>