<hr />
<br>
<br>
<br>
<br>
<div class="container text-center mt-3">
    <h2>Usuario: {{user.cart}} {{user.last_name}} (<a href="/profile">{{user.email}}</a>) - Role: {{user.role}}</h2>
    <br>
    <h5><a href="/api/sessions/logout" class="text-danger">Cerrar Sesión</a></h5>
</div>
<hr />

<div class="container mt-5">
    <h2 class="text-center">Cartelera de Cine</h2>

    <hr />

    <div class="table-responsive my-5">
        <h2 class="text-center">Peliculas</h2>
        <br>
        <table class="table table-bordered table-striped table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.code}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.stock}}</td>
                        <td><button class="btn btn-info" onclick="addProductToCart('{{user.cart}}', '{{this._id}}')">Agregar al carrito</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <hr />

    <div class="text-center">
        {{#if paginateInfo.hasPrevPage}}
            <a class="btn btn-primary" href="{{paginateInfo.prevLink}}">Anterior</a>
        {{/if}}
        
        {{#each paginateInfo.totalPages}}
            <a class="btn btn-secondary" href="{{this.link}}">{{this.page}}</a>
        {{/each}}
        
        {{#if paginateInfo.hasNextPage}}
            <a class="btn btn-primary" href="{{paginateInfo.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>



    <script>
    /* CREO UN CARRITO Y LE ASIGNO UN PRODUCTO
        function addProductToCart(pid) {
        fetch(`/api/carts`, {
            method: 'post'
        })
        .then(result => result.json())
        .then(result => {
            if (result.status === 'error') throw new Error(result.error);
            return result.payload._id;
        })
        .then(cid =>
            fetch(`/api/carts/${cid}/product/${pid}`, {
                method: 'post'
            })
        )
        .then(result => result.json())
        .then(result => {
            if (result.status === 'error') throw new Error(result.error);
            alert(`¡Ok! Todo salió bien. El producto se agregó al carrito con id=${result.payload._id}!`);
        })
        .catch(err => alert(`Ocurrió un error: ${err}`));
    }
    */
function addProductToCart(cid, pid) {
   
  fetch(`/api/carts/${cid}/product/${pid}`, {
    method: 'post',
  })
    .then(result => {
      if (!result.ok) {
        throw new Error(`Error: ${result.status} - ${result.statusText}`);
      }
      return result.json();
    })
    .then(result => {
      if (result.status === 'error') {
        throw new Error(result.error);
      } else {
        alert(`¡Producto agregado al carrito con éxito!`);
      }
    })
    .catch(err => alert(`Ocurrió un error: ${err}`));
} 

</script>



<style>
        body {
            background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>