<hr />
<br>
<br>
<br>
<br>
<div class="container text-center mt-3">
    <h2>Usuario: {{user.first_name}} {{user.last_name}} (<a href="/profile">{{user.email}}</a>) - Role: {{user.role}}</h2>
    <br>
      <a href="/carts/{{user.cart}}" class="btn btn-success">Ir al carrito </a>
    <br>
    <br>
<h5><a href="/api/sessions/logout" class="btn btn-danger">Cerrar Sesi贸n</a></h5>
</div>
<hr />

<div class="container mt-5">
    <h2 class="text-center">Cartelera de Cine</h2>

    <hr />

    <div class="table-responsive my-5">
        <h2 class="text-center">Peliculas</h2>
        <br>
        <table class="table table-bordered table-striped table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th>T铆tulo</th>
                    <th>Descripci贸n</th>
                    <th>Precio</th>
                    <th>C贸digo</th>
                    <th>Categor铆a</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.code}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.stock}}</td>
                        <td><button class="btn btn-info" onclick="addProductToCart('{{../user.cart}}', '{{this._id}}')">Agregar al carrito</button></td>                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <hr />

    <div class="text-center">
        {{#if paginateInfo.hasPrevPage}}
            <a class="btn btn-primary" href="{{paginateInfo.prevLink}}">Anterior</a>
        {{/if}}
        
        {{#each paginateInfo.totalPages}}
            <a class="btn btn-secondary" href="{{this.link}}">{{this.page}}</a>
        {{/each}}
        
        {{#if paginateInfo.hasNextPage}}
            <a class="btn btn-primary" href="{{paginateInfo.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>



    <script>
   
function addProductToCart(cid, pid) {
   
  fetch(`/api/carts/${cid}/product/${pid}`, {
    method: 'post',
  })
    .then(result => {
      if (!result.ok) {
        throw new Error(`Error: ${result.status} - ${result.statusText}`);
      }
      return result.json();
    })
    .then(result => {
      if (result.status === 'error') {
        throw new Error(result.error);
      } else {
        alert(`隆Producto agregado al carrito con 茅xito!`);
      }
    })
    .catch(err => alert(`Ocurri贸 un error: ${err}`));
} 

</script>



<style>
        body {
            background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>