<br>
<br>
<br>
<div class="container mt-5 text-center">
<h2>Products from Cart</h2>
<br>
<br>
<a href="/products" class="btn btn-primary">Products</a> | <a href="/api/sessions/logout" class="btn btn-danger">Logout</a>
</div>
<br>
<br>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>Producto</strong></td>
            <td><strong>Descripción</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Código</strong></td>
            <td><strong>Stock</strong></td>
            <td><strong>Cantidad</strong></td>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
        <tr>
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.code}}</td>
            <td>{{this.product.stock}}</td>
            <td>{{this.quantity}}</td>
            <td><button class="btn btn-danger" onclick="removeProductFromCart('{{../user.cart}}', '{{this._id}}')">Eliminar del carrito</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<style>
        body {
            background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>