<body>
    <h1>Ticket de Compra</h1>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each ticket.products}}
            <tr>
                <td>{{this.product._id}}</td>
                <td>{{this.price}}</td>
                <td>{{this.quantity}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="total">
        <strong>Total: {{ticket.amount}}</strong>
    </div>

</body>